name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - run: brew install ankane/brew/morph --head
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - run: bundle exec rake compile
      - run: |
          morph-cli keygen
          morph-server &
          sleep 1
      - run: bundle exec rake test
